
.topo h1{
    color: blue;
    text-shadow: 1px  1px #000; 
}

.topo{
    width: 49%;
    height: 300px;
    border: 2px solid #000;
    position: relative;
    float:left;
    background-color: green;
}

#esquerda{
    background-color: aqua;
}

#direita{
    background-color: blueviolet;
}

.baixo{
    margin-top: 10px;
    width: 80%;
    height: auto;
    position: relative;
    border: 1px solid #000;
}




