.teste{
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    border: 1px solid #000;
    margin-left: 100px;
    margin-top: 100px;
}

#primeira{
    background-color: #e63946;
}
#segunda{
    background-color: #a8dadc;
}
#terceira{
    background-color: #457b9d;
}
#quarta{
    background-color: #1d3557;
}

#central{
    width: 50%;
    height: 500px;
    position: relative;
    float: left;
    left: 0%;
    background-color: #1d3557;
    transition: 1s;
}